/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer {
  width: auto;
  padding-top: 15px;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
}

.footercontainer{
  background-color: var(--fcl-grey);
}

@media screen and (max-width: 600px) {
  .footercontainer{
    padding: 15px;
    font-size: 12px;
  }
}
