.projectcontainer {
  width: 60%;
  margin: 0 auto;
  min-width: 200px;
  margin-top: 1vh;
  padding-top: 1vh;
  bottom: 0;
  background-color: var(--fcl-grey);
}


.boxdocu{
  display: flex;
  justify-content: center;
}

.text{
  flex: 0.8;
}

.side{
}

.vessel{
  border-bottom: solid 2px var(--fcl-yellow);
  padding-bottom: 10px;
  width: 80%;
  margin: 0 auto;
}



.projectcontainer p {
  word-wrap: break-word;
}

.title {
  text-align: center;
}

.topbox {
  width: 90%;
  margin-left: 2.5vw;
  display: inline-block;
}

.toptext {
  margin-left: 1vw;
  width: 70%;
  float: left;
  border-bottom: var(--fcl-yellow) solid 0.2vh;
}

.topinnerrightbox {
  margin-top: 1vh;
  text-align: center;
  border-top: solid var(--fcl-yellow) 0.5vh;
  width: 25%;
  min-width: 60px;
  float: right;
}

.continueButton {
  width: 80% !important;
}

.boxtitle {
  text-align: center;
}

.righttitle {
  margin-top: 4vh;
  text-decoration: underline;
}

.outerbox {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.innerbox {
  flex: 1 1 0;
  flex-grow: 0;
  min-width: 200px;
  box-shadow: 2px 2px 10px 1px grey;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-top: solid var(--fcl-yellow) 0.5vh;
  width: 25%;
  perspective: 1000px;
}

.innerbox-card {
  position: relative;
  width: 100%;
  height: 55vh;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.innerbox:hover .innerbox-card {
  transform: rotateY(180deg);
}

.innerboxfront, .innerboxback {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  text-align: center;
}

.innerboxfront {
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerboxback {
  transform: rotateY(180deg);
}

.belonging {
  line-height: 0.4vh;
}

.belonging a {
  line-height: normal;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: var(--fcl-yellow);
}

.reposisivetable{
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


#usecase:hover {
  opacity: 0.7;
  }

  #usecase{
    margin-left: 25%;
    width: 50%;
  }
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}


/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}




@media screen and (max-width: 600px) {
  .projectcontainer {
    width: 80%;
  }
}
