:root {
  --red: rgb(255, 0, 0);
  --fcl-yellow: #ffdd00;
  --fcl-blue-light: #3f79b6;
  --fcl-grey: #333;
}

html {
  max-width: auto;
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #00519e;
  scroll-behavior: smooth;
}

body{
  font-size: 0.7em;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.25);
  /*var(--dark-blue);*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--fcl-yellow);
  /*border-radius: 3px;
  box-shadow: var(--material-shadow);*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--fcl-yellow);
}

::selection {
  color: white;
  background: var(--fcl-yellow);
}

main {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  font-size: 18px;
  text-align: center;
  border-radius: 7%;
  box-shadow: 0 4px 2px -2px var(--fcl-yellow);
  text-decoration: none;
  color: white;
  margin: 0 auto;
  width: 200px;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  transition: background-color 0.5s;
}

.button:hover {
  background-color: var(--fcl-blue-light);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.topnav {
  background-color: var(--fcl-grey);
  overflow: hidden;
  border-bottom: 5px solid var(--fcl-grey);
  border-top: 5px solid var(--fcl-yellow);
  border-right: 5px solid var(--fcl-grey);
  border-left: 5px solid var(--fcl-grey);
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--fcl-blue-light);
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--fcl-yellow);
  color: var(--fcl-grey);
}

@media screen and (max-width: 600px) {
  html {
    height: 100%;
  }

  html, .topnav a, .container {
    font-size: 12px;
  }

  .container {
    padding: 80px;
  }

  .button {
    width: 150px;
    padding: 5px;
    font-size: 10px;
  }
}
