html {
  max-width: auto;
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  max-width: 80%;
  /*no wider than 500px*/
  margin: 0 auto;
  /*reset margin and normalize*/
  text-align: center;
  padding: 140px;
  margin-top: 20px;
  /*Text Centered*/
}

.text {
  max-width: 500px;
  /*no wider than 500px*/
  margin: 0 auto;
  /*reset margin and normalize*/
  background-color: green;
}

.button {
  font-size: 18px;
  background-color: #576662;
  text-decoration: none;
  color: white;
  margin: 0 auto;
  width: 200px;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  padding: 10px;
  transition: background-color 0.5s;
}

.button:hover {
  background-color: lightblue;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: lightgrey;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #535860;
  color: white;
}


.nameLbl {
  padding: 80px;
}

.nameInputs {
  display: inline;
  width: 22%;
  text-align: center;
  color: white;
  border: 0.5px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 10px;
}

form p {
  display: inline;
}

@media screen and (max-width: 600px) {
  html {
    height: 100%;
  }

  html, .topnav a, .container {
    font-size: 12px;
  }

  textarea {
    width: 90%;
  }

  .container {
    padding: 80px;
  }

  .nameLbl {
    padding: 10px;
  }

  .nameInputs {
    width: 80px;
    margin-bottom: 5px;
  }

  .button {
    width: 150px;
    padding: 5px;
    font-size: 10px;
  }
}
