  #personal {
    margin-top: 25px !important;
    border-bottom: 5px solid var(--fcl-grey);
    border-top: 5px solid var(--fcl-yellow);
    border-right: 5px solid var(--fcl-grey);
    border-left: 5px solid var(--fcl-grey);
    margin: auto;
    width: 60%;
    text-align: center;
    background-color: var(--fcl-grey);
    padding-bottom: 10px;
  }

  #picture {
    flex: 1 1 0;
    margin: auto;
  }

  #firstflex {
    padding-top: 10px;
  }

  .titleOfSub {
    margin-top: 20%;
  }

  .box {
    flex: 1 1 0;
    width: 45%;
  }

  .imageIcon {
    height: 60px;
  }

  .flextop {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
  }

  .answer {
    margin: auto;
    width: 45%;
    border-top: solid 1px var(--fcl-yellow)
  }

  .answerp {
    word-wrap: break-word;
  }

  /*Image of myself*/
  #moi {
    height: 100%;
    width: 85%;
    border-radius: 100%;
    min-height: 200px;
    min-width: 130px;
  }

  /*Subttitle schools*/
  .location {
    flex: 1;
    text-align: center;
    padding: 10px;
  }

  /*Duration of Titles*/
  .duration {
    flex: 1;
    text-align: center;
    padding: 10px;
  }

  .flag{
    height: 60px;
    border-radius: 50%;
  }

  /*Container of school*/
  .brakeDiv {
    display: flex;
    margin: auto;
    max-width: 80%;
    border-bottom: solid 1px var(--fcl-yellow);
  }

  /*responsive*/
  @media only screen and (max-width: 600px) {
    .imageIcon {
      height: 40px;
    }
  }
